# Logs
logs
*.log
npm-debug.log*

node_modules
dist
*.local
*.tsbuildinfo
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local dev uploads
uploads/
tests/.uploads/
